.half-width img {
    width: 100%;

}

.half-width img {

    border-radius: 10%;
    display: block;
    height: 50%;
}

section {
    display: flex;
}

body {
    font-family: sans-serif;
    margin: 20px
}

p {
    color: red;

}

.half-width {
    width: 10%;
    height: 10%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding-left: 1px;
    border-radius: 1px;
    box-shadow: 2px 1px 3px gray;
}